@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

.red{
    color: #800020;
}

.bgRed{
    background: #800020;
}

.green{
    color: 	#69b200;
}

button{
    cursor: pointer;
}

.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}